@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* WARNING --- DO NOT USE THESE COLORS IN YOUR CSS, THESE COLORS ARE MEANT TO BE USED FOR OTHER CSS VARIABLES */
  /* BASE COLORS ========== START */
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;

  --neutral-50: #fafafa;
  --neutral-100: #f4f4f5;
  --neutral-200: #e4e4e7;
  --neutral-300: #d4d4d8;
  --neutral-400: #a1a1aa;
  --neutral-500: #71717a;
  --neutral-600: #52525b;
  --neutral-700: #3f3f46;
  --neutral-800: #27272a;
  --neutral-900: #18181b;
  --neutral-950: #09090b;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;

  --white: #fff;
  --black: #000;

  /* BASE COLORS ========== END */

  /* APP THEME COLORS ========== START */
  --primary: var(--indigo-500);
  --primary-dark: var(--indigo-700);
  --primary-light: var(--indigo-100);

  --secondary: var(--neutral-200);
  --secondary-dark: var(--neutral-300);
  --secondary-darker: var(--neutral-500);
  --secondary-light: var(--neutral-100);

  --danger: var(--red-500);
  --danger-dark: var(--red-700);
  --danger-light: var(--red-100);

  --success: var(--green-500);
  --success-dark: var(--green-700);
  --success-light: var(--green-100);

  --info: var(--blue-500);
  --info-dark: var(--blue-700);
  --info-light: var(--blue-100);

  --warning: var(--yellow-500);
  --warning-dark: var(--yellow-700);
  --warning-light: var(--yellow-100);

  --border: var(--neutral-200);

  --element: var(--white);

  /* APP THEME COLORS ======== END */

  /* COMPONENT COLORS ========== START */
  --foreground: var(--neutral-950);
  --foreground-subtle: var(--neutral-500);

  --background: var(--neutral-50);

  /* Input */
  --input: var(--element);
  --input-border: var(--neutral-200);
  --input-placeholder: var(--neutral-300);
  --input-icon: var(--neutral-400);

  --accordion: var(--element);
  --accordion-border: var(--border);
  --accordion-disabled: var(--neutral-100);

  --card: var(--element);
  --card-border: var(--border);
  --card-foreground: var(--foreground);
  --card-foreground-subtle: var(--foreground-subtle);

  --dialog: var(--element);
  --dialog-border: var(--border);

  --switch: var(--neutral-300);
  --switch-thumb: var(--white);
  --switch-active: var(--primary);

  --tabs-list: var(--indigo-50);
  --tabs-trigger-active: var(--primary);

  --tooltip: var(--white);
  --tooltip-foreground: var(--foreground);
  /* COMPONENT COLORS ========== END */
}

body {
  @apply text-foreground bg-background text-sm;
}
